<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- PostPulsar-Repository=@POST_PULSAR_ROOT@ -->
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.post-pulsar.daemon</string>
  <key>ProgramArguments</key>
  <array>
    <string>@POST_PULSAR_ROOT@/run-post-pulsar.sh</string>
    <string>daemon</string>
  </array>
  <key>WorkingDirectory</key>
  <string>@POST_PULSAR_ROOT@</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>ProcessType</key>
  <string>Background</string>
</dict>
</plist>
